@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Matko Šimić<br />
    Osijek<br />
    Phone: 091 152 0001
    
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:matko.simic@yahoo.com">matko.simic@yahoo.com</a><br />
    
</address>