@model  IEnumerable<Videos4You.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@using (Html.BeginForm("New", "Movies"))
{
    <button type="submit" class="btn btn-primary">Add Movie</button>
}

<p>&nbsp;</p>
<p></p>
@if (!Model.Any())
{
    <p>There are no movies at the moment.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genres.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
